<%- include('../../partials/header.ejs')%>
    <! --Para incluir partes de outro documento(usando quando a parte externa e reutilizada em outros códigos) -->

        <body>
            <%- include('../../partials/navbar.ejs')%>
                <div class="container">
                    <div class="card" id='form'>
                        <div class="card-header">
                            <h1>admin new category </h1>
                        </div>
                        <div class="card-body">
                      <form method="POST" action = '/categories/save'>
                          <input type="text" name="titleCategory" placeholder="Qual o título da categoria ?">
                          <button class="corBotao">Cadastrar</button>
                      </form>
                    </div>
                    </div>
                </div>
        </body>
        <%- include('../../partials/footer.ejs')%>


