<nav class="navbar navbar-expand-lg navbar-dark" id='navbar'>
    <a class="navbar-brand" href="/">Home
      <!-- <img src="/img/icone nav.png"> -->
      
    </a>
    <ul class="navbar-nav mr-auto">
      <li class='nav-item'>
        <a class="nav-link" href="/admin/categories">Categorias</a>
      </li>
    </ul>
        <ul class="navbar-nav mr-auto">
      <li class='nav-item'>
        <a class="nav-link" href="/admin/articles"> Artigos           </a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class='nav-item'>
        <a class="nav-link" href="/admin/"> </a>
      </li>
    </ul>
    </nav>